# ============================================
# ARCHIVOS DE CONFIGURACIÓN SENSIBLES
# ============================================
.env
.env.local
.env.production
.env.backup

# ============================================
# LOGS Y TEMPORALES
# ============================================
/logs/
/docs/
*.log

# ============================================
# BASE DE DATOS
# ============================================
*.sql
*.sqlite
*.db

# ============================================
# Incluir el diseños inicial de base de datos
# ============================================

!/app/assets/sql/easypos.sql
!/app/assets/sql/easypos_auditoria.sql